#buynow{

    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". content.";
    margin-bottom: 144px;
    margin-top: 96px;

    @include md{
    grid-template-columns: auto 768px auto;
    }

    >div{
        grid-area: content;

        @include md{
            display: grid;
            grid-template-columns: repeat (2, 1fr);
            grid-template-areas: 
            "bt bt"
            "b1 b2";

        }

        .buy-card{
            padding: 32px;
            border-radius: 24px;
            margin: 16px;

            button{
                color: white;
                background-color: var(--pink);
                padding: 24px;
                padding-left: 96px;
                padding-right: 96px;
                border-radius: 48px;
            }
        } 

        .buy-card-info{
            ul{
                li{
                    display: flex; 
                    justify-content: left;
                    gap: 16px;
                }
            }
        }

        #bt{
            grid-area: bt;
        }

        #b1{
            grid-area: b1;
            border: 2px solid var(--navy);

            >div{
                border-bottom: 1px solid var(--black);
            }
        }

        #b2{
            grid-area: b2;
            background-color: var(--navy);
            color: white;
            >div{
                border-bottom: 1px solid var(--white);
            }
        }
    }
}