#buynow{

    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". content.";

    @include md{
    grid-template-columns: auto 768px auto;
    }

    >div{
        grid-area: content;

        @include md{
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-areas: "left-card right-card";
        }

        .buy-card{
            padding: 32px;
            border-radius: 24px;
            margin: 16px;

            button{
                color: white;
                background-color: var(--pink);
            }
        } 

        .buy-card-info{
            ul{
                li{
                    display: flex; 
                    justify-content: left;
                    gap: 16px;
                }
            }
        }

        #buy-card-left{
        grid-area: left-card;
        border: 2px solid var(--navy);

            >div{
                border-bottom: 1px solid var(--black);
            }
        }

        #buy-card-right{
        grid-area: right-card;

        background-color: var(--navy);
        color: white;
            >div{
                border-bottom: 1px solid var(--white);
            }
        }
    }
}