#thankyoutop{

    display:grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". thankyou .";

    text-align: center;

    @include xl{
        grid-template-columns: auto 1200px auto;
    }

    >div{
        grid-area: thankyou;

    }
}

#summary{

    display:grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". thankyou .";

    @include xl{
        grid-template-columns: auto 1200px auto;
    }
    
    >div{
        grid-area: thankyou;
    }    
}