/* =============
    Footer
============= */
footer{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". footer .";

    background-color: var(--purple);
    color: var(--white);

   padding-top: 32px;
   padding-bottom: 48px;

    @include lg{
        padding-top: 64px;
        padding-bottom: 64px;
    }

    @include xl{
        grid-template-columns: auto 1200px auto;
    }

    >div{
        grid-area: footer;

        display: grid;
        grid-template-columns: 50% auto;
        grid-template-areas: 
        "f1 f1"
        "f2 f3"
        "f4 f5";
        gap: 16px;

        @include lg{
            grid-template-columns: repeat(6,1fr);
            grid-template-areas: 
            "f1 f1 f2 f3 f4 f5";
        }

        #f1{
            grid-area: f1;

            padding-right: 64px;

            ul{
                display:flex;
                justify-content: flex-start;
                gap: 16px;
            
            }
        }

        #f2{
            grid-area: f2;

            ul{

                li{
                    display: flex;
                    flex-direction: column;
                    align-items: left;
                    padding-bottom: 16px;
                }
                
            }
        }

        #f3{
            grid-area: f3; 

            ul{

                li{
                    display: flex;
                    flex-direction: column;
                    align-items: left;
                    padding-bottom: 16px;
                }
                
            }
        }
        
        #f4{
            grid-area: f4; 

            ul{

                li{
                    display: flex;
                    flex-direction: column;
                    align-items: left;
                    padding-bottom: 16px;
                }
                
            }
        }

        #f5{
            grid-area: f5;

            ul{

                li{
                    display: flex;
                    flex-direction: column;
                    align-items: left;
                    padding-bottom: 16px;
                }
                
            }
        }
    }
}