/* =============
    Footer
============= */
footer{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". footer .";

    background-color: var(--purple);
    color: var(--white);

    padding: 16px 0 24px;

    @include md{
        padding: 24px;
    }

    @include xxl{
        grid-template-columns: auto 1200px auto;
    }

    >div{
        grid-area: footer;

        @include md{
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-areas: 
            "f1 f1"
            "f2 f3"
            "f4 f5";
            gap: 16px;
        }

        @include lg{
            grid-template-columns: repeat(6,1fr);
            grid-template-areas: 
            "f1 f1 f2 f3 f4 f5";
        }

        #f1{
            @include md{
                grid-area: f1;
            }

            ul{
                display:flex;
                justify-content: flex-start;
                gap: 16px;
            
            }
        }

        #f2{
            @include md{
                grid-area: f2;
            }  
        }

        #f3{
            @include md{
                grid-area: f3;
            }  
        }
        
        #f4{
            @include md{
                grid-area: f4;
            }  
        }

        #f5{
            @include md{
                grid-area: f5;
            }  
        }
    }
}