/* =============
    Header
============= */

header{
    background-color: var(--purple);
    color: white;

    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

   display: grid;
   grid-template-columns: 16px auto 16px;
   grid-template-areas: ". header .";

   @include xl{
    grid-template-columns: auto 1200px auto;
   }

   >div{

    #logo{
        margin: 16px;
    }

    grid-area: header;

    display: grid;
    grid-template-columns: 50% auto;
    grid-template-areas:"logo, nav";

    @include md{
        grid-template-columns: 90% auto;
    }

    @include xl{
        grid-template-columns: 70% auto;
    }
    
    #nav{
        display:flex;
        justify-content: space-between;
        align-items: center;

        a{
            color: white;
            text-decoration: none;
            display: none;

            @include xl{
                display: block
            }
        }
        
        #search{
            height: 45%;
            display: none;

            @include xl{
                display: block;
            }
        }

        #cart{
            height: 45%;
        }

        #burger{
            height: 45%;

            @include xl{
                display: none;
            }
        }
    }
   }
}